<ul>
  <% @movies.each do |movie| %>
  <li><%= movie.name %> (<%= movie.rating %>): <%= gross(movie) %>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ') %>
    </p>
    <p>
      <%= year_of(movie) %>
    </p>
  </li>
  <% end %>
</ul>