<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= link_to(review.user.name, review.user) %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
    </li>
  <% end %>

  <section class="admin">
    <%= link_to "Add New Review", new_movie_review_path, class: "button" %>
  </section>
</ul>